<div>
  <p-tabView>
    <app-header></app-header>
    <h1 class = "text">Мой аккаунт войти</h1>
    <p-tabPanel [cache]="false" header="Войти">
      <ng-template pTemplate="content">
        <app-authorization
          [inputProp] = "userName"
          [inputObj]="someObj"
        >
        </app-authorization>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="Создать аккаунт">
      <app-registration></app-registration>
    </p-tabPanel>

  </p-tabView>
  <!--Определяем обработчик событий при изменении текущего и предыдущего значения -->
  <p (click)="changeProp()"></p>

</div>
<p-toast position="top-left"></p-toast>
