<div class="d-flex flex-column m-auto authorization h-100">
  <app-header></app-header>
  <div>
    <div>
      <h1 class = "text">Зарегистрированные клиенты</h1>
      <h2>Если вы регистрировались ранее, пожалуйста, введите свой email и пароль</h2>
    </div>
    <span class="mx-3">{{loginText}}</span>
    <input type="text"
           pInputText
           placeholder="aaa@gmail.com"
           [ngClass]="{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-3">{{pswText}}</span>
    <p-password type="password"
           class="mt-3"
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"
                [toggleMask]="true"/>
  </div>
  <div class="mt-5  d-flex justify-content-center">
    <button (click)="onAuth($event)"  type="button" class="btn btn-info">{{authTextButton}}</button>
  </div>
</div>
<p-toast position="top-left"></p-toast>
