<ng-container *ngIf="product.length !=0">
  <div class = "container">
    <div class="card-table">
      <div class = "cart-product">
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Номер</th>
            <th>Наименование</th>
            <th>Модель</th>
            <th>Изображение</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Итого</th>
            <th>Действие</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let item of product; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.model}}</td>
            <td><img style = "width:120px" src="/assets/img/all/{{item.img}}"></td>
            <td>{{item.price}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.total}}</td>
            <td>
              <button (click)="removeItem(item)" class = "btn btn-danger">Удалить</button>
            </td>
          </tr>
          <tr>
            <td colspan = "4"></td>
            <td><button (click)="emptycart()" class="btn-danger btn">Очистить корзину</button></td>
            <td><button routerLink = '/starbrands/main' class="btn-primary btn">Покупка товара</button></td>
            <td><button class="btn-success btn">Оформить заказ</button></td>
            <td><strong>Итого: {{grandTotal}}</strong></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

