<div class="h-100">
  <a routerLink="/starbrands/main">Назад</a>
  <div class="main">
    <div class="product-img">
      <img class="h-100"  style="width: 770px" src="/assets/img/all/{{productMan.img}}">
    </div>
    <div class="flex-wrap main-content">
      <div class="product-item col-2 m-3 mt-4">
        <div class="product-title">{{productMan.model}}</div>
        <div class="product-title">{{productMan.name}}</div>
        <div class="product-title">{{productMan.price}} руб.</div>
        <div class="product-title">{{productMan.color}}</div>
      </div>
      <div>
        <p-button label="Корзина" icon="pi pi-shopping-bag" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </div>
      <div>
        <div class="description">{{productMan.description}}</div>
      </div>
    </div>
  </div>
</div>
