.main{
  flex: 1;
  display: flex;
}

.product-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .product-title{
    padding: 2px;
  };
}

a{
  margin: 2rem;
}

.product-img {
margin: 2rem;
height: 900px;
width: 750px;
}

.description{
  margin-left: 1rem;
  margin-top: 3rem;
}

.main-content{
  left: 269px;
}




