<div >
  <a routerLink="/starbrands/main">Назад</a>
  <div class="main">
    <div class="product-img">
      <img class="h-100"  style="width: 770px" src="/assets/img/all/{{productItem.img}}">
    </div>
    <div class="flex-wrap main-content" style="min-height: 100%">
  <div class="product-item col-2 m-3 mt-4">
    <div class="product-title">{{productItem.model}}</div>
    <div class="product-title">{{productItem.name}}</div>
    <div class="product-title">{{productItem.price}} руб.</div>
    <div class="product-title">{{productItem.color}}</div>
  </div>
  <div>
    <p-button label="Корзина" (click)="addtocart(productItem)" icon="pi pi-shopping-bag" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
  </div>
  <div>
    <div class="description">{{productItem.description}}</div>
  </div>
    </div>
  </div>

</div>
