<footer class="page-footer">
  <div class="social">
    <p class="block_1"></p>
    <div class="block_2">
      <p>Подписывайтесь на нас</p>
      <fa-icon [icon]="faVk" class="item-social"></fa-icon>
      <fa-icon [icon]="faTwitter" class="item-social"></fa-icon>
      <fa-icon [icon]="faFacebook" class="item-social"></fa-icon>
      <fa-icon [icon]="faYoutube" class="item-social"></fa-icon>
      <fa-icon [icon]="faInstagram" class="item-social"></fa-icon>
     <!-- <a href="" target="_blank" class="item-social fab fa-twitter"></a> -->
    </div>
    <p class="block_3">Контакты</p>
    <p class="item-contacts"><a href="" target="_blank" class="contacts fa-solid fa-envelope"></a>
     starbrands@gmail.ru</p>
  </div>
</footer>
