<div class="d-flex flex-column h-100">
  <header>
    <app-header></app-header>
  </header>

  <div class="main-content d-flex h-50 main-content">
    <div>
      <router-outlet></router-outlet>
      <ng-container class = "man">
      <div class="card">
        <h1 class="text">Новая коллекция для мужчин</h1>
        <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
              <div class="mb-3">
                <img src="/assets/img/man/{{ product.img }}" [alt]="product.name" class="imgW w-6 shadow-2" />
              </div>
              <div class = "mr-2">
                <h4 class="mb-1">{{ product.module }}</h4>
                <h4 class="mb-1">{{ product.name }}</h4>
                <h6 class="mt-0 mb-3">{{product.price}}</h6>
                <h6 class="mt-0 mb-3">{{product.collectionNew}}</h6>
                <div class="car-buttons mt-5">
                  <p-button type="button" label="Нравится" styleClass="p-button p-button mr-2" icon="pi pi-heart-fill"></p-button>
                  <p-button type="button" label="Корзина" styleClass="p-button-success p-button mr-2" icon="pi pi-shopping-bag"></p-button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
      </ng-container>
      <ng-container>
        <h1 class="text">Новая коллекция для женщин</h1>
        <div class="col-4 m-2 flex-wrap woman-list">
          <p-card        (click)="goToProductInfoPage(item)"
            *ngFor="let item of productsW"  [style]="{ width: '350px' }">
            <ng-template let-product pTemplate="header">
              <p>{{ item.module }}</p>
              <p>{{ item.name }}</p>
              <img class="imgW" alt="Card" src="/assets/img/women/{{ item.img }}" />
            </ng-template>
            <p class="mb-1">{{ item.price}}</p>
            <h6 class="mt-0 mb-3">{{item.collectionNew}}</h6>
            <ng-template pTemplate="footer">
              <p-button label="Нравится" icon="pi pi-heart-fill"></p-button>
              <p-button label="Корзина" icon="pi pi-shopping-bag" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
        </div>
      </ng-container>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
</div>
