<div class="d-flex flex-column h-100">
  <div class="main-content d-flex h-50">
    <div>
      <router-outlet></router-outlet>
    </div>
    <ng-container>
      <div class=" h-50">
        <h1 class="text">Коллекция для мужчин</h1>
        <div class="m-2 flex-wrap woman-list">
          <p-card *ngFor="let productMan of productsMan"  [style]="{ width: '350px', height: '600px' }">
            <ng-template let-product pTemplate="header">
              <p>{{ productMan.module }}</p>
              <p>{{ productMan.name }}</p>
              <img class="imgW" alt="Card" src="/assets/img/man/{{ productMan.img }}" />
            </ng-template>
            <p class="mb-1">{{ productMan.price}} руб.</p>
            <p class="mb-1 del" >{{ productMan.priceSale}}</p>
            <p class="mb-1">{{ productMan.collectionNew}}</p>
            <p class="mb-1">{{ productMan.collectionSale}}</p>
            <ng-template pTemplate="footer">
              <p-button label="Подробнее" (click)="goToProductInfoPage(productMan)" icon="pi pi-heart-fill"></p-button>
              <p-button label="Корзина"  (click)="addtocart(productMan)" icon="pi pi-shopping-bag" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
          </p-card>
        </div>
      </div>
    </ng-container>
  </div>
</div>
