<div>
  <router-outlet></router-outlet>
</div>
<ng-container class = "man">
  <div class="card">
    <h1 class="text">Sale коллекция для женщин</h1>
    <p-carousel [value]="productsWoman" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
      <ng-template let-productWoman pTemplate="item">
        <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
          <div class="mb-3">
            <img src="/assets/img/women/{{ productWoman.img }}" [alt]="productWoman.name" class="imgW w-6 shadow-2" />
          </div>
          <div class = "mr-2">
            <h4 class="mb-1">{{ productWoman.module }}</h4>
            <h4 class="mb-1">{{ productWoman.name }}</h4>
            <h6 class="mt-0 mb-3">{{productWoman.price}} руб.</h6>
            <h6 class="mt-0 mb-3 del">{{productWoman.priceSale}} руб.</h6>
            <h6 class="mt-0 mb-3">{{productWoman.collectionSale}}</h6>
            <div class="car-buttons mt-5">
              <p-button type="button" label="Подробнее" (click)="goToProductInfoPage(productWoman)"  styleClass="p-button p-button mr-2" icon="pi pi-heart-fill"></p-button>
              <p-button type="button" label="Корзина" (click)="addtocart(productWoman)" styleClass="p-button-success p-button mr-2" icon="pi pi-shopping-bag"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</ng-container>
<ng-container>
  <h1 class="text">Sale коллекция для мужчин</h1>
  <div class="col-4 m-2 flex-wrap woman-list">
    <p-card *ngFor="let productMan of productsMan"  [style]="{ width: '350px', height: '600px' }">
      <ng-template let-product pTemplate="header">
        <p>{{ productMan.module }}</p>
        <p>{{ productMan.name }}</p>
        <img class="imgW" alt="Card" src="/assets/img/man/{{ productMan.img }}" />
      </ng-template>
      <p class="mb-1">{{ productMan.price}} руб.</p>
      <p class="mb-1 del">{{ productMan.priceSale}} руб.</p>
      <p class="mb-1">{{ productMan.collectionSale}}</p>
      <ng-template pTemplate="footer">
        <p-button label="Подробнее" icon="pi pi-heart-fill"></p-button>
        <p-button label="Корзина" (click)="addtocart(productMan)" icon="pi pi-shopping-bag" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</ng-container>
